<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Spotify blacklist</title>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
	<body>
		<div id="app">
				<div class="login" v-if="!access_token">
					<button v-on:click="login" type="button">Login</button>
				</div>
				<div class="login" v-if="access_token">
					<div>Playing: {{ isPlaying }}</div>
					<div v-if="isPlaying">
						<button v-on:click="next">Next</button>
					</div>
					<div v-if="song">
						<div>{{this.song}}</div>
						<div>{{this.artists}}</div>
					</div>
				</div>
				<div>
					<span>Blacklist</span>
					<ul>
						<li v-for="item in blacklist">{{item}}<button type="button" v-on:click="blackRemove(item)">x</button></li>
					</ul>
					<input type="text" v-model="blackAdd">
					<button type="button" v-on:click="addToBlacklist">Add</button>
				</div>
		</div>
	</body>

	<script>

		var app = new Vue({
			el: '#app',
			data: {
				access_token: '',
				isPlaying: false,
				artists: '',
				song: '',
				blacklist: [],
				blackAdd: '',
				timeout: null,
			},
			created: async function () {
				var hash = window.location.hash

				this.access_token = localStorage.getItem('access_token')

				if (hash) {
					values = hash.slice(1).split('&').reduce((o, s) => { var [key, value] = s.split('='); o[key] = value; return o }, {})
					if (values['access_token']) {
						this.access_token = values['access_token']
						localStorage.setItem('access_token', values['access_token'])
						window.location.hash = ''
					}
				}

				this.blacklist = JSON.parse(localStorage.getItem('blacklist') || '[]')

				await this.getPlayer()
			},
			methods: {
				login: async function() {
					var scopes = 'user-modify-playback-state user-read-currently-playing user-read-playback-state'
					var clientId = '51a9358be5ed44de93431bffcaf23fab'
					var redirect_uri = window.location.origin + window.location.pathname

					window.location.href = `https://accounts.spotify.com/authorize?client_id=${clientId}&scope=${scopes}&response_type=token&redirect_uri=${encodeURIComponent(redirect_uri)}`
				},
				getPlayer: async function() {
					if (this.timeout) { clearTimeout(this.timeout) }

					const res = await fetch('https://api.spotify.com/v1/me/player', { headers: { Authorization: 'Bearer ' + this.access_token } })
					if (res.status === 401) { return this.login() }
					const body = await res.json()
					this.isPlaying = body.is_playing

					this.artists = body.item.artists.map(a => a.name).join(', ')
					this.song = body.item.name

					var timeLeftMs = body.item.duration_ms - body.progress_ms

					this.timeout = setTimeout(() => this.getPlayer(), timeLeftMs + 1000)

					if (this.isBlacklisted(this.artists)) {
						await this.next()
					}

				},
				next: async function() {
					const url = 'https://api.spotify.com/v1/me/player/next'
					const headers = { Authorization: 'Bearer ' + this.access_token }
					const res = await fetch(url, { headers, method: 'POST' })
					if (res.status === 401) { return this.login() }
					
					await (new Promise(resolve => setTimeout(resolve, 1000)))

					await this.getPlayer()
				},
				isBlacklisted: function(artists) {
					var match = artists.toLowerCase()

					return this.blacklist.some(bad => match.includes(bad.toLowerCase()))
				},
				addToBlacklist: function() {
					this.blacklist.push(this.blackAdd)
					this.blackAdd = ''
					localStorage.setItem('blacklist', JSON.stringify(this.blacklist))

					this.getPlayer()
				},
				blackRemove: function(item) {
					this.blacklist = this.blacklist.filter(b => b !== item)
					localStorage.setItem('blacklist', JSON.stringify(this.blacklist))
				}
			},
		})
	</script>
</html>
